<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css"  type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="POST">
        <fieldset>
            
        </fieldset>
    </form>

    <form action="/add" method="POST">
        <fieldset>
            <label for="doc">enter doc name</label>
            <input id='doc' type="text">
            <br>
            <label for="title">enter title</label>
            <input id='title' type="text">
            <br>
            <label for="text">enter text</label>
            <textarea id='text'></textarea>
            <br>
            <button type ="reset">Reset</button>
            <button type ="submit">Submit</button>
        </fieldset>
    </form>
        
</body>
</html>