*{
	top: 0;
	left: 0;
	bottom: 0;
	margin: 0;
	padding:0 ;
}
.show{
    display: none !important;
}
h3{
    font-size: 210%;
}
p{
    font-size: 180%;
}
header{
    position: fixed;
    width: 100%;
    height: max-content;
}
.header{
    margin-top: 2px;
    margin: auto;
    background-color: lightgreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
}
.sub{
    margin:0px 2.5% 0px 2.5%;
    width: 15%;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.subBTN{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    background-color: green;
    padding: 10px;
    font-size: 15px;
}
.subBTN:hover{
    background-color: rgb(52, 131, 52);
}
.phone-header{
    display: none !important;
}
main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
main h1{
    margin: 20px;
    width: 100%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.frame{
    padding: 1%;
    border-radius: 50px;
    margin: 5px auto ;
    width: 40%;
    height: 510px;
    background-color: rgb(153, 201, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
.Mframe{
    padding: 1%;
    border-radius: 50px;
    margin: 15px auto ;
    width: 75%;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(153, 201, 255);
}
iframe{
    border-radius: 50px;
    height:50%;
    width: 100%;
}
.Miframe{
    border-radius: 50px;
    height:100%;
    width: 50%;
}
.text{
    margin: 1%;
    text-align: center;
}
.Mtext{
    width: 40%;
    margin: 1%;
    text-align: center;
}
main img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);       
    width: 70%;
    height: 300px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 50px;
}
footer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);       
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin: 35px auto 1px auto;
}
footer div{
    max-width: 49%;
    background-color: gray;
    padding: 0 4% 0 4%;
}
@media all and (max-width:1100px){
    main img{
        width: 90%;
        height: 200px;
    }
    .subBTN{
        font-size: 100%; 
    }
    p{
        font-size: 130%;
    }
    .Mframe,.frame{
        width: 60%;
        font-size: 130%;
    }
    @media all and (max-width:750px){
        .phone-header{
            width: 100%;
            margin-top: 0;
            top:0;
            display:block !important;
            background-color: lightgreen;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .lines{
            background-image: url("../images/menu.png");
            background-color: #cccccc;
            height: 25px;
            width: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            float: left;
            margin-top: 5px !important;
            margin: 5px;            
        }
        #phone_list{
            float: right;
            width: 80%;
            height: 800px;
            margin-top: 50px;
            position: fixed;
            background-color: green;
        }
        .phone-sub{
            width: 90%;
            margin: 5% auto 5% auto ;
        }
        .phone-subBTN{
            width: 100%;
            background-color: lightgreen;
            padding: 20px;
        }
        .header{
            display: none;
            margin-top: 0%;
            top: 0%;
        }
        main img{
            width: 90%;
            height: 130px;
        }
        .frame,.Mframe{
            font-size: 80%;
            float: none;
            margin:  0% auto 15px auto;
            width: 85%;
            height: 370px;
        }
        .subBTN{
            font-size: 50%;
            padding: 0; 
            height: 100%;
        }
        iframe,.Miframe{
            width:99%;
            height:60%;
            margin: auto;
            float: none;
        }
        .text,.Mtext{
            width: 100%;
            float: none;
        }
        .catigory{
            display: none;
        }
        h3{
            font-size: 20px;
        }
        footer{
            font-size: 70%;
        }
    }    
}