*{
    margin:0;
    padding: 0;
}
h3{
    font-size: 210%;
}
p{
    font-size: 200%;
}
.header{
    border-radius: 0 0 17px 17px;
    margin:  0% 0% 10px 0%;
    width: 99%;
    height: 67px;
    background-color: blue;
    border:2px solid black ;
}
.sub{
    margin:0px 5px 0px 0px;
    width: 15%;
    border-radius: 15px;
    background-color: blue;
    float: left;    
}
.subBTN{
    border-radius: 15px;
    border:1px solid black ;
    width: 100%;
    background-color: blue;  
    padding: 10px;
    font-size: 15px;
    
}
body{
    background-color: #cccccc;
    text-align: center;
}
.left{
    float: left;
}
.right{
    float: right;
}
form{
    background-color: aquamarine;
    width: 40%;
    border: black 1px solid;
}
fieldset{
    background-color: aquamarine;
    width: 40%;
}
.frame{
    border-radius: 50px;
    margin:  auto 5px 10px 50px;
    width: 45%;
    height: 500px;
    float: left;
    background-color: blue;
}
.Mframe{
    border-radius: 50px;
    margin:  auto 5px 10px 50px;
    width: 90%;
    height: 400px;
    background-color: blue;
}
.frame:hover{
    background-color: rgb(0, 0, 133);
}
.frame:hover h3{
    color: cornsilk;
}
.frame:hover p{
    color: cornsilk;
}
iframe{
    border-radius: 50px;
    height:50%;
    width: 100%;
}
.Miframe{
    border-radius: 50px;
    height:100%;
    width: 50%;
}
.text{
    margin: 1%;
    text-align: center;
}
.Mtext{
    width: 40%;
    margin: 1%;
    text-align: center;
}
img{
    width: 99%;
    margin: auto;
}
@media all and (max-width:1100px){
    .sub{
        min-width: 100px;   
    }
    .subBTN{
        font-size: 10px; 
    }
    header{
        width: 100%;
    }
    .Mframe{
        width: 95%;
        height: 350px;
        margin:  0% auto 1px auto;
        float: none;
    }
    .frame{
        float: none;
        margin:  0% auto 1px auto;
        width: 95%;
        height: 350px;
    }
    h3{
        font-size: 150%;
    }
    p{
        font-size: 130%;
    }
    @media all and (max-width:750px){
        
        .Mframe:hover{
            background-color: rgb(73, 73, 248);
            height: 355px;
        }
        .Miframe{
            width:99%;
            height:60%;
            float: none;
        }
        iframe{
            width:100%;
            height:60%;
            margin: auto;
            float: none;
        }
        .Mtext{
            width: 100%;
            float: none;
        }
        .text{
            width: 100%;
            float: none;
        }
        h3{
            font-size: 110%;
        }
        p{
            font-size: 90%;
        }
    }
    
}